# Copy this file to .env.local and fill in real values.
# These values are loaded by sanity.config.js and sanity.cli.js.

# Find these on https://sanity.io/manage after running `npx sanity login` and `npx sanity init`.
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
